/* font-family: 'Kanit', sans-serif; */
:root {
    --white: #f2f2f2;
    --lightgrey: #a6a6a6;
    --mediumgrey: #595959;
    --darkgrey: #262626;
    --black: #0d0d0d;
}

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    background-color: var(--white);
    color: var(--darkgrey);
    font-weight: 300;
}

main {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    overflow: auto;
}

.content {
    width: 100%;
    height: 100%;
    overflow-y: scroll; 
    scroll-behavior: smooth;
}

.arrow {
    align-self: center;
    padding: 50px;
    -webkit-animation: arrow 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
    animation: arrow 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}

.arrow-icon {
    color: var(--mediumgrey);
    font-size: 1.8rem;
}

.arrow-icon:hover {
    cursor: pointer;
    color: var(--lightgrey);
}

.highlight:hover {
    color: var(--lightgrey);
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

a {
    text-decoration: none;
}

/* NAV */
.logo {
    float: left;
    font-size: 2rem;
    display: block;
    padding: 10px 20px;
}

.nav {
    background-color: var(--white);
    padding: 20px;
    position: fixed;
    width: 100vw;
    z-index: 3;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--white);
    text-decoration: none;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.nav-list li {
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
    padding: 20px;
    text-transform: uppercase;
}

.nav-list li:hover {
    color: var(--lightgrey);
}

.nav-icon {
    display: block;
    font-size: 1.5rem;
    position: relative;
}

.menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
    display: block;
}

.menu-icon2 {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
    display: none;
}

.menu-btn {
    display: none;
}

.menu-btn:checked ~ .nav-list {
    max-height: 400px;
}

.menu-btn:checked ~ .menu-icon {
    display: none;
}

.menu-btn:checked ~ .menu-icon2 {
    display: block;
}

/* INTRO */
.intro {
    height: 100vh;
}
.name {
    padding: 50px;
    font-size: 2.5rem;
	-webkit-animation: name 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: name 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* BIO */
#about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

.profcontainer {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin: 40px;
}

.profimage {
    margin: 0 auto;
    margin-left: -10%; 
    height: 100%;
    width: auto;
}

.title {
    font-size: 1.5rem;
    font-weight: 400;
}

.titleX {
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.bio {
    font-size: 1.2rem !important;
    line-height: 2rem;
    max-width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bioicon {
    padding-right: 5px;
}

.bioicon2 {
    padding-right: 5px;
    padding-left: 30px;
}

/* TECHNOLOGY */
#skills {
    /* min-height: 90vh; */
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skills-title {
    padding-top: 30px;
    padding-bottom: 40px;
    font-weight: 400;
    font-size: 1.5rem;
}

.technology h3 {
    font-size: 2rem;
}

.technology p {
    font-size: 1.5rem;
}

.skills-div {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}

.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.skills-item {
    font-size: 3rem;
    padding: 20px;
}

.skills-item2 {
    width: 150px;
    padding: 20px;
}

.skills-item3 {
    height: 80px;
    padding: 20px;
}

.icon {
    font-size: 3rem;
    padding: 20px;
}

.icon2 {
    width: 150px;
    padding: 20px;
}

.icon3 {
    height: 80px;
    padding: 20px;
}

/* PROJECTS */
#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image {
    border: 1px solid var(--lightgrey);
    max-height: 500px;
    max-width: 100vw;
    filter: grayscale(100%);
    transition: .5s ease-in-out;
}

.image:hover {
    border: none;
    filter: none;
    transform: scale(1.1);
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    padding: 30px;
    font-size: 1.2rem;
    color: var(--darkgrey);
    max-width: 900px;
}

/* .text2 {
    padding: 30px;
    font-size: 1.6rem;
    color: var(--darkgrey)
} */

.tech-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    list-style: none;
}

/* CONTACT */
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 2.4rem;
}

/* FOOTER */
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
}

footer {
    background-color: var(--white);
    padding: 40px;
    /* height: 20vh; */
}

.footer {
    list-style-type: none;
    padding-bottom: 40px;
}

.footer li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.footer-item {
    font-size: 1.8rem;
    text-decoration: none;
    margin: 20px;
}

.footer-item:hover {
    color: var(--lightgrey);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
    #about {
        padding-top: 100px;
    }

    .image {
        max-height: 170px;
        overflow: hidden;
    }
    .container {
        width: 90vw;
    }

    .title {
        font-size: 1.4rem;
    }

    .bio {
        font-size: 1rem;
    }

    .text {
        font-size: 1rem;
        max-width: 600px;
        margin: 40px;
        padding: 0;
    }
    
    .text2 {
        font-size: 1.4rem;
    }

    .icon {
        font-size: 2rem;
    }
    
    .icon2 {
        width: 100px;
    }
    
    .icon3 {
        height: 60px;
    }

  }

@media (min-width: 790px) {
    .nav li {
        display: inline-block;
        padding: 20px 30px;
    }

    .nav-list {
        clear: none;
        float: right;
        max-height: none;
    }

    .menu-icon {
        display: none;
    }
}


/* KEYFRAMES */
@-webkit-keyframes name {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes name {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes arrow {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes arrow {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }